<nav class="navbar navbar-expand-lg bg-black">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><strong>Maya</strong></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <form class="d-flex me-2 border-left:10px">
            <button class="btn btn-outline-success m-1" (click)="goToPage('login')">Login</button>
        </form>
    </div>
</nav>
<div class="animationss"><strong>NowShowing>></strong></div>
<div class="card" style="width: 0rem;">
    <div class="grid-container">
        <div class="grid-item" *ngFor="let image of images">
            <img [src]="image" alt="Image" class="card-img-top">
            <div class="card-body">
                <a routerLink="login" target=""><button type="button" class="btn btn-outline-secondary">BookNow</button>
                </a>
            </div>
        </div>
    </div>
</div>
<img id="object1" src="assets/images/stream-leadin-web-collection-202210241242_1 (1).jpg">
<h4>
    <a class="navbar" style="text-decoration: none; color: black;" href="#">BookShow</a>
</h4>
<div class="d-flex justify-content-center">
    CopyRight © 2023 Rights Reserved: Maya
</div>